.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:#00CED1 ;
	color:#F8F8FF;
	clear: both;
	z-index: 10;
	height: 2em;
	margin-top: -2em;
	text-align:center;
}
img{
	border-radius: 50%;
	width: 180px;
}
